<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon"
          href="https://e7.pngegg.com/pngimages/766/49/png-clipart-computer-icons-video-cameras-film-video-camera-miscellaneous-television.png">
    <link rel="stylesheet" href="../../static/css/login.css"/>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
     <h2>CinemaBase</h2>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://papik.pro/uploads/posts/2021-11/1636140030_13-papik-pro-p-logotip-kino-foto-13.jpg" width="200">
        </div>
        <h2> </h2>
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

    </div>
</div>
</body>
</html>